@import '../../styles/mixin';

.container__loader {
    @include flex-centrar();
    position: absolute;
    width: 300px;
    height: 300px;
    p {
        margin-top: 20px;
        font-size: 30px;
        color: white;
        font-weight: bold;
    }
    img {
        width: 100%;
        height: 100%;
    }
}