@import '../../styles/mixin';

.container__img-404 {
    @include flex-centrar($direccion:normal);
    width: 100vw ;
    min-height: 90vh;
    background-color: black;  
    img {
        width:100%;
    }
  
}
