@import '../../styles/variables';
@import '../../styles/breakpoints';
@import '../../styles/mixin';

.card__container {
    @include flex-centrar($content:normal);
    position: relative;
    margin: 20px 10px;
    width: 280px;
    height: 520px;
    border-radius: 10px;
    box-shadow: 6px 7px 5px 2px rgba(0, 0, 0, 0.521), 0px 0px 0px 2px $main-color;
    overflow: hidden;
    @include media ('<=phone','>280px') {
        width: 260px;
    }
}

.container__raiting {
    @include flex-centrar();
    position: absolute;
    top: 10px;
    right: 10px;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border-left: 2px solid #b4b3b3;
    border-top: 1px solid #a5a5a5;
    border-bottom: 3px solid #adadad;
    background-color: black;
    span {
        margin-top: 2px;
        font-weight: bold;
        color: white;
    }
}

.raiting {
    display: flex;
    align-items: center;
    font-size: 25px;
    span {
        margin-left: 8px;
        font-weight: bold;
    }
    p {
        margin-left: 5px;
        font-size: 18px;
        color: rgb(196, 196, 196)
    }
}

.container__img-overwiev {
    position:relative
}

.bottom-face {
    @include flex-centrar($content:normal);
    position: relative;
    padding: 20px;
    height: 450px;
    width: 100%;
    background-color: $main-color;
    h4 {
        border-bottom: 3px dashed black;
        display: flex;
        align-items: center;
        height: 20px;
        color: black;
        padding: 20px;
    }
}

.square__container {
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
}
.square__container-right {
    right: 0;
}
.square__container-left {
    left: 0;
}

.square {
    width: 30px;
    height: 26px;
    border: 6px solid black;
}
.overview {
    overflow: scroll;
    padding: 20px;
    width: 200px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: rgb(0, 0, 0);
    hyphens: auto;
}

.overview::-webkit-scrollbar {
    display: none;
}
.face {
    margin: 0;
    position: relative;
    transition: top 1.2s;
    top: 0;
}
.upper-face {
    height: 420px;
    img {
        height: 100%;
        width: 100%;
    }
}
.container__movie-title {
    @include flex-centrar($direccion:normal);
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 0 5px;
    box-shadow: 0px -1px 6px 2px rgba(255, 119, 5, 0.6);
    background-color: black;
    .title__card {
        text-align: center;
        color: $movie-titles;
    }
    @include media ('<=phone','>=280px') {
        padding: 0 10px;
        .title__card {
            font-size: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


.card__container:hover .face {
    top: -420px
}