
@import '../../styles/breakpoints';
@import '../../styles/variables';

.navbar {
    background: rgb(0,0,0);
    height: 120px;
    padding: 20px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    border-bottom: 5px solid $main-color;
    justify-content: space-between;
}

.ul__navbar {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100px;
        color: $main-color;
        font-weight: bold;
    }
    @include media('<=tablet') {
       display:none
    }
}

.container__img-icon {
    width: 90px;
    img {
        width: 100%;
    }
}