@import '../styles/variables';
@import '../styles/breakpoints';

.pagination-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .buttonPage {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        margin: 0 10px;
        font-size: 20px;
        background-color: rgb(0, 0, 0);
        border: 4px solid $main-color;
        color: $main-color;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            margin: 15px 0;
            text-align: center;
            color: white;
        }
        button {
            margin-top: 20px;
        }
        label {
            font-weight: bold;
            color: white;
        }
    }
    input {
        padding: 15px;
        margin: 20px 0;
        width: 80px;
        height: 30px;
        background-color: $main-color;
    }

    .container__button-pages {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 25px; 
    }
    @include media('<=tablet') {
        .buttonPage {
            font-size: 18px;
            width: 45px;
            height: 45px;
            padding: 3px;
            border: 1px solid $main-color
        }
    }
}

