.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 20px 10px;
    width: 280px;
    height: 520px;
    border-radius: 10px;
    border-top: 15px ou black;
    box-shadow: 
    6px 0px 7px 0.2px rgba(0, 0, 0, 0.486),
        0px 0px 0px 2px rgba(255, 119, 5, 0.6);
        
    overflow: hidden;
}

.container__raiting {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65px;
    background-color: black;
    height: 65px;
    top: 10px;
    right: 10px;
    border-radius: 100%;
    border-left: 2px solid #b4b3b3;
    border-top: 1px solid #a5a5a5;
    border-bottom: 3px solid #adadad;
    span {
        margin-top: 2px;
        font-weight: bold;
        color: white;
    }
}

.raiting {
    display: flex;
    align-items: center;
    font-size: 25px;
    span {
        margin-left: 8px;
        font-weight: bold;
    }
    p {
        margin-left: 5px;
        font-size: 18px;
        color: rgb(196, 196, 196)
    }
}

.container__img-overwiev {
    position:relative
}

.bottom-face {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    height: 450px;
    width: 100%;
    background-color: rgb(248, 225, 160);
    h4 {
        border-bottom: 3px dashed black;
        display: flex;
        align-items: center;
        height: 20px;
        color: black;
        padding: 20px;
    }
}

.square__container {
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
}
.square__container-right {
    right: 0;
}
.square__container-left {
    left: 0;
}
.square {
    border: 6px solid black;
    width: 30px;
    height: 26px;
}
.sinopsis {
    overflow: scroll;
    padding: 20px;
    width: 200px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.sinopsis::-webkit-scrollbar {
    display: none;
}
.face {
    margin: 0;
    position: relative;
    transition: top 1.2s;
    top: 0;
}
.upper-face {
    height: 420px;
    img {
        height: 100%;
        width: 100%;
    }
}
.container-movie-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: black;
}
.title__card {
    text-align: center;
    display: flex;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 255)
}

.card__container:hover .face {
    top: -420px
}