@import '../styles/breakpoints';

.container__carrousel {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
}


.container__movie-components {
    display: flex;
    @include media('<=tablet') {
        flex-direction: column;
        max-width: 600px;
        margin: 120px 0
    }
}