.section__details {
    p, h3, h4 {
        color: white;
     }
}

.container__background-img {
    background-color: rgb(80, 80, 80);
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.main-container {
    display: flex;
    max-width: 2000px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.712);
}

.container__poster {
    width: 500px;
    overflow: hidden;
    border-right: 10px solid rgb(0, 0, 0);
    img {
        width: 100%;
        height: 100%;
    }
}



.container__info {
    max-width: 500px;
    padding: 25px;
}