.section__details {
    p, h3, h4, div {
        color: white;
     }
}

.container__background-img {
    background-color: rgb(80, 80, 80);
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.main-container {
    display: flex;
    max-width: 2000px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.712);
}

.container__poster {
    width: 500px;
    overflow: hidden;
    border-right: 10px solid rgb(0, 0, 0);
    img {
        width: 100%;
        height: 100%;
    }
}


.container__info {
    max-width: 500px;
    padding: 25px;
    h3 {
        font-size: calc(3.5rem - 1vw);
    }
}

.container__raiting-year {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 15px 0;
    p {

        font-style: italic;
        font-size: calc(2.8rem - 1vw);
    }
}

.raiting {
    display: flex;
    align-items: center;
    font-size: 25px;
    span {
        margin-left: 8px;
        font-weight: bold;
    }
    p {
        margin-left: 5px;
        font-size: 18px;
        color: rgb(196, 196, 196)
    }
   
}

.container__genres {
  margin: 15px 0;
  div {
      display: flex;
      p {
          font-style: italic;
          margin-right: 15px;
          font-size: calc(2.5rem - 1vw);
      }
  }
}

.container__overview {
    line-height: 1.5;
}