@import '../styles/variables';
@import '../styles/breakpoints';

.section__search {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container__movie-cards {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

.container__results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
  @include media('<tablet') {
    padding: 100px 20px;
  }
}

.container__title-background-image {
  margin-top: 150px;
  background-color: rgb(94,94,94);
  position: relative;
  width: 600px;
  display: flex;
  justify-items: center;
  align-items: center;
  h2 {
    font-size: 50px;
    width: 100%;
    text-align: center;
    top: 45px;
    color: $main-color;
  }
  img {
    width: 100%;
  }
  @include media ('<=tablet') {
    max-width: 330px;
    h2 {
      font-size: 30px
    }
  }
}

.form__search-section {
  display: flex;
  align-items: center;
  input {
    padding: 10px;
  }
  svg {
    font-size: 25px;
    color: $main-color;
  }
  button {
    padding: 5px;
    background-color: black;
    border: 2px outset $main-color;
  }
  @include media('<=phone') {
    input {
      padding: 10px;
      height: 15px;
    }
  }
  button {
    padding: 2px;
    background-color: black;
    border: 2px outset $main-color;
    font-size: 1px;
  }
}

.container__title-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.no-results {
  color: white;
  font-weight: bold;
}