@import '../../styles/variables';
@import '../../styles/mixin';

.footer {
    @include flex-centrar();
    height: 200px;
    border-top: 4px solid $main-color;
    padding: 40px;
    background: rgb(0, 0, 0);
    p {
        color: $main-color;
        font-size: 20px;
        margin: 20px 0;
    }
}

.ul__footer {
    display: flex;
    li {
        margin: 10px;
    }
}

.icons-footer {
    color: $main-color;
    font-size: 30px;
}
