@import '../../styles/breakpoints';
@import '../../styles/variables';

.container__movie-list {
    position: relative;
    height: 800px;
    max-width: 500px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 
    6px 4px 5px 1px rgba(0, 0, 0, 0.486),
        0px 0px 0px 2px rgba(255, 119, 5, 0.6);
    background-color: rgb(0, 0, 0);
    margin: 90px;
    @include media ('>1080px') {
        width: 500px;
    }
    @include media ('>tablet', '<1080px') {
        margin: 90px 15px;
    }

    @include media ('<=tablet') {
       width: 95%;
    }

    @include media('<=450px') {
        max-width: 400px;
    }
    @include media('<=phone') {
        margin: 20px;
        max-width:280px;
        margin-top: 150px;
    }
}

.container__title-list {
    position:sticky;
    top:0;
    z-index: 10;
    h3 {
        font-size: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        line-height: .9;
        justify-content: center;
        background-color: white;
        height: 100px;
    }
}

.container__horizontal-square {
    position: absolute;
    display: flex;
}

.container__horizontal-square-bottom {
    position: absolute;
    display: flex;
    bottom: 0;
}

.horizontal-square {
    border: 6px solid black;
    width: 25px;
    height: 20px;
}

.container__movie-list::-webkit-scrollbar {
    width: 8px;  
    border-radius: 5px;
    background-color: black;
}

.container__movie-list::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid $main-color ;
}

.container__movie-list::-webkit-scrollbar:hover {
    background-color: black;
}

.container__movie-list::-webkit-scrollbar-thumb:hover {
    background: $main-color;
   
}

.container__movie-list::-webkit-scrollbar-thumb:active {
    background-color: #ffffff;
}

.container::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 4px;
}
